{% extends "base.html" %}
{% load events_tags %}

{% block content %}
{% if events %}
<div class="col-md-12">
    {% for item in events %}
    <div class="card mb-3">
        <div class="card-header">
            Event will take place at <b>{{item.event_date}}</b>
        </div>
        <div class="card-body">
            <div class="media">

                <div class="media-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description|linebreaks|truncatewords:50}}</p>
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            Owner of the event: <a href="{% url 'profile' item.owner.username %}"> {{ item.owner }} </a> <br>
            Amount of participants: {% get_count item %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1>You have not registered for any event yet</h1>
<h2>You can see the list of events <a href="{% url 'home' %}">here</a></h2>
{% endif %}
{% endblock %}

