{% extends "base.html" %}
{% load events_tags %}
{% block title %}{{ object.username }}{% endblock %}

{% block sidebar %}
{% include "inc/_sidebar.html" %}
{% endblock %}

{% block content %}

<div class="container">

    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">

            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        {% if object.profile.image %}
                        <img src="{{ object.profile.image.url }}" alt="Admin"
                             class="rounded-circle" width="150">
                        {% else %}
                        <img src="https://www.gravatar.com/avatar/00000000000000000000000000000000?d=mp&f=y" alt="Admin"
                             class="rounded-circle" width="150">
                        {% endif %}
                        <div class="mt-3">
                            <h4>{{object.username}}</h4>
                            <p class="text-secondary mb-1">{{ object.email }}</p>
                            {% if object.username == user.username %}
                            <a href="{% url 'edit_profile' %}">Edit profile</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8">
            <h1>{{object.username}}'s events</h1>
            <br>
            {% for event in events %}
            <div class="card mb-3">
                <div class="card-header">
                    Event will take place at <b>{{event.event_date}}</b>
                </div>
                <div class="card-body">
                    <div class="media">

                        <div class="media-body">
                            <h5 class="card-title">{{event.title}}</h5>
                            <p class="card-text">{{event.description|linebreaks|truncatewords:50}}</p>
                            <a href="{{ event.get_absolute_url }}" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Owner of the event: <a href="#"> {{ event.owner }} </a> <br>
                    Amount of participants: {% get_count event %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
